@import "tailwindcss";

:root {
  --font-lato: "Lato", sans-serif;
  --font-fira-sans: "Fira Sans", sans-serif;

  --color-plum-light: #49213b;
  --color-plum-dark: #0d020d;
  --color-red: #d80027;
  --color-cyan: #a2d6d8;
  --color-blue: #0052b4;
  --color-gold-lighter: #ffd875;
  --color-gold-light: #ffc530;
  --color-gold: #ae8724;

  --color-background: #ffffff;
  --color-text: #000000;
}

.dark {
  --color-background: #0d020d;
  --color-text: #ffffff;
}

@theme inline {
  --font-title: var(--font-fira-sans);
  --font-body: var(--font-lato);

  --color-plum-light: var(--color-plum-light);
  --color-plum-dark: var(--color-plum-dark);
  --color-red: var(--color-red);
  --color-cyan: var(--color-cyan);
  --color-blue: var(--color-blue);
  --color-gold-lighter: var(--color-gold-lighter);
  --color-gold-light: var(--color-gold-light);
  --color-gold: var(--color-gold);

  --color-background: var(--color-background);
  --color-text: var(--color-text);

  --animate-wave: wave 1s infinite;
  --animate-gradient-x: gradient-x 3s ease infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(14deg);
  }
}

@keyframes gradient-x {
  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
